
*
{
    margin: 0; 
    padding: 0; 
}

body
{
    background: #393939; 
    color: white; 
    font: 14px Helvetica, sans-serif; 
}

#page-wrap
{ 
    width: 500px; 
    margin: 25px auto;

}

a                                   
{ 
    text-decoration: none; 
    color: #9bf9ff; 
    border-bottom: 1px dotted #9bf9ff; 
}

a:hover                             
{ 
    border-bottom-style: solid; 
}



h1                                  
{ 
    font: 26px Georgia, Serif; 
    margin: 0 0 10px 0; 
}

form                                
{

    margin: 50px 0 0 0; 
    
}

label                               
{ 
 
    font: bold 20px Helvetica, sans-serif; 
    display: block; 
    float: left; 
    text-align: right; 
    padding: 5px 10px 0 0; 
    width: 140px; 
}

input[type=text]                    
{ 
 
    float: left; 
    width: 40px; 
    font: bold 20px Helvetica, sans-serif; 
    padding: 3px 0 0 0; 
    text-align: center; 
}

form div                            
{ 

    overflow: hidden; 
    margin: 0 0 5px 0; 
}

.button                             
{

    margin: 0 0 0 5px; 
    text-indent: -9999px; 
    cursor: pointer; 
    width: 29px; 
    height: 29px; 
    float: left; 
    text-align: center; 
    background: url(../images/buttons.png) no-repeat;
}

.dec                                
{

    background-position: 0 -29px; 
}

#submit                             
{
    margin: 15px 0 0 175px; 
    font: 20px Helvetica, sans-serif; 
    padding: 5px 10px 3px 10px; 
    border: 1px solid black; 
    background: #eee;
}

#submit:hover                       
{ 
    background: #ccc; 
}